nav(class="nav")
  a(class="nav-link" aria-current="page" href="/productos") Inicio
  a(class="nav-link" aria-current="page" href="/productosfb") Inicio FireBase
  a(class="nav-link" aria-current="page" href="/form-upload-productos") Cargar Producto
  a(class="nav-link" aria-current="page" href="/form-upload-productos-fb") Cargar Producto FireBase
  a(class="nav-link" aria-current="page" href="/carrito/") Carrito
  a(class="nav-link" aria-current="page" href="/carrito/carrito-fb/") Carrito FireBase