div(id="form-update"+prod.id class="form-update")
    form(action="/productos/updatefb" method="POST")
        
        div(class="mb-3")
            label(for="id" class="form-label")= prod.id
            input(type="hidden" class="form-control" id="id" name="id" value= prod.id )

        div(class="mb-3")
            label(for="title" class="form-label") Nombre del producto
            input(type="text" class="form-control" id="title" name="title" required)

        div(class="mb-3")
            label(for="price" class="form-label") Precio del producto
            input(type="number" class="form-control" id="price" name="price" required)

        div(class="mb-3")
            label(for="thumbnail" class="form-label") Thumbnail
            input(type="text" class="form-control" id="thumbnail" name="thumbnail" required) 
        
        input(type="submit" class="btn btn-primary" value="Enviar")