.card{
    position: relative !important;
}

.form-update{
    display: none;
    position: absolute !important;
    background-color: white;
    width: 96%;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: fill-available;
    padding: 0;
    margin: 0;
}

.form-update form{
    display: flex;
    flex-direction: column;
    padding-top: 30%;
}

.close-update{
    display: none;
    position: relative;
    z-index: 100;
}

.thumbnailProd{
    width: 5%;
}

